*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/gradle/wrapper/
/audioeffect/build/generated/source/buildConfig/debug/com/waz/audioeffect/
/audioeffect/.externalNativeBuild/cmake/debug/x86/
/audioeffect/build/
/audioeffect/.externalNativeBuild/cmake/
