<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsy.mediasoup">

    <uses-sdk tools:overrideLibrary="io.crossbar.autobahn" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.jsy.mediasoup.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.dongxl.mediasoup.MediasoupMainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jsy.mediasoup.SplashScreenActivity"/>

        <activity
            android:name="com.jsy.mediasoup.RoomActivity"
            android:label="@string/title_activity_room"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.Calling"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.jsy.mediasoup.RoomConfigurationActivity"
            android:screenOrientation="portrait" /> <!-- android:launchMode="singleInstance" -->

        <activity
            android:name="com.jsy.mediasoup.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <service
            android:name="com.jsy.mediasoup.services.MediasoupService"
            android:enabled="true"
            android:exported="true"></service>


    </application>
</manifest>
